* {
    margin: 0;
    padding: 0;
    font-family: "Lato", Arial, sans-serif;
}

.center {
    padding-left: calc(50% - $contentWidth/2);
    padding-right: calc(50% - $contentWidth/2);

    @media(min-width: 768px) and (max-width: 1023px) {
        padding-left: calc(50% - $contentWidthTablet/2);
        padding-right: calc(50% - $contentWidthTablet/2);
    }

    @media(max-width: 767px) {
        padding-left: calc(50% - $contentWidthMobile/2);
        padding-right: calc(50% - $contentWidthMobile/2);
    }
}

.customColor {
    color: $customColor;
}