* {
    margin: 0;
    padding: 0;
    font-family: "Lato", Arial, sans-serif;
}

.center {
    padding-left: calc(50% - $contentWidth/2);
    padding-right: calc(50% - $contentWidth/2);

    @media(min-width: 768px) and (max-width: 1024px) {
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }

    @media(max-width: 767px) {
        padding-left: calc(50% - 179px);
        padding-right: calc(50% - 179px);
    }

}

.customColor {
    color: $customColor;
}