@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

// Variables

$customColor: #F16D7F;
$backgroundColor: #222222;
$backgroundSlider: #EAEAEA;
$mainPhotoBackground: #F1E4E6;

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", Arial, sans-serif;
}

.header {
    background-color: $backgroundColor;
}

.headerWrapper {
    width: 1140px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.logoGroup {
    width: 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
}

.menu {
    display: none;
    width: 100px;
    height: 100px;
    background-color: green;
}

.hamMenu:hover .menu{
    display: block;
    position: absolute;
}

.mainFoto {
    background-color: $mainPhotoBackground;
    display: flex;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.naming {
    border-left: 12px solid $customColor;
    height: 93px;
    width: 405px;
    padding-left: 16px;
    margin-top: 290px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &Item900 {
        font-size: 48px;
        font-weight: 900;
    }

    &ItemColor {
        color: $customColor;
    }
}

.products {
    width: 1140px;
    margin: 0 auto;
    margin-top: 65px;
}

.productsGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    &Item {
        position: relative;
    }

    &Title {
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        font-size: 16px;
        font-weight: 400;
        color: #FFF;
        text-align: center;
    }

    &Title .namingItemColor {
        font-size: 24px;
        font-weight: 700;
    }
}

.accesoriesMobile {
    display: none;
}

.featuredItems {
    width: 1140px;
    margin: 0 auto;
    margin-top: 96px;
}

.featuredItems h2 {
    text-align: center;
    font-size: 30px;
}

.featuredItems p {
    text-align: center;
    color: #9F9F9F;
    font-size: 14px;
}

.featuredItemsPics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 30px;
    row-gap: 25px;
    margin-top: 48px;
} 

.item {
        text-align: left;
        
        h3 {
            font-size: 13px;
            font-weight: 400;
            padding-left: 16px;
            padding-right: 16px;
        }

        p {
            text-align: left;
            color: #5D5D5D;
            font-size: 14px;
            font-weight: 300;
            padding-left: 16px;
            padding-right: 16px;
        }
    }

.browse {
    width: 210px;
    height: 46px;
    border: 2px solid #F16D7F;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

.browse a {
    text-decoration: none;
    color: #F16D7F;
}

.service {
    background-color: #222;
    margin-top: 95px;
}

.serviceWrapper {
    width: 1140px;
    display: flex;
    justify-content: space-between;
}

.serviceItem {
    width: 360px;
    color: #FBFBFB;
    text-align: center;
    margin-top: 104px;
    margin-bottom: 104px;
}

.subscribe {
    background-image: url("img/subscribeBackground.png");
    background-repeat: no-repeat;

    &Wrapper {
        width: 1140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 448px;
    }
}

.footer {
    background-color: #222;
    color: #FBFBFB;

    &Wrapper {
        width: 1140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 79px;
    }
}

@media(min-width: 768px) and (max-width: 1024px) {
    .headerWrapper {
        width: 736px;
    }

    .mainFotoDesktop {
        width: 386px;
        height: 368px;
    }

    .destoFoto {
        width: 233px;
        height: 169px;
    }

    .foto4 {
        width: 735px;
        height: 117px;
    }

    .namWra {
        padding-top: 138px;
    }

    .naming {
        height: 93px;
        width: 311px;
    }

    .products {
        width: 736px;
    }

    .featuredItems {
        width: 736px;
    }

    .featuredItemsPics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        column-gap: 0;
    }
}

@media(max-width: 767px) {

    .headerWrapper {
        width: 359px;
    }
    
    .profile{
        display: none;
    }
    
    .cart {
        display: none;
    }

    .hamburger {
        width: 32px;
        height: 23px;
        display: block;
    }

    .mainFoto {
        height: 363px;
    }

    .mainFotoDesktop {
        display: none;
    } 

    .namWra {
        padding-top: 148px;
        margin: 0 auto;
    }    

    .naming {
        width: 263px;
        height: 66px;
    }

    .products {
        width: 359px;
    }

    .productsGroup {
        display: grid;
        grid-template-rows: auto auto auto;
        margin-bottom: 30px;
    }

    .destoFoto {
        width: 343px;
        height: 248px;
    }
    
    .foto4 {
        display: none;
    }

    .accesoriesMobile {
        display: block;
    }

    .featuredItems {
        width: 359px;
    }

    .featuredItemsPics {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        column-gap: 0;
    }
}

// style Product

.breadCrumbsWrapper {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;
}

.breadCrumbsCurrent {
    color: $customColor;
}

.productSlider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $backgroundSlider;
}


