body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #222;
}

.headerWrapper {
    width: 1140px;
    height: 75px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoGroup {
    width: 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    width: 159px;
    display: flex;
    justify-content: space-between;
}

.mainFoto {
    background-color: #F1E4E6;
    display: flex;
}

.namWra {
    padding-top: 299px;
}

.naming {
    border-left: 12px solid #F16D7F;
    height: 93px;
    width: 405px;
}

.products {
    width: 1140px;
    margin: 0 auto;
    margin-top: 65px;
}

.productsGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.accesoriesMobile {
    display: none;
}

.featuredItems {
    width: 1140px;
    margin: 0 auto;
    margin-top: 96px;
}

.featuredItems h2 {
    text-align: center;
}

.featuredItems p {
    text-align: center;
}

.featuredItemsPics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 30px;
} 

.browse {
    width: 210px;
    height: 46px;
    border: 2px solid #F16D7F;
    color: #F16D7F;
}

@media(min-width: 768px) and (max-width: 1024px) {
    .headerWrapper {
        width: 736px;
    }

    .mainFotoDesktop {
        width: 386px;
        height: 368px;
    }

    .destoFoto {
        width: 233px;
        height: 169px;
    }

    .foto4 {
        width: 735px;
        height: 117px;
    }

    .namWra {
        padding-top: 138px;
    }

    .naming {
        height: 93px;
        width: 311px;
    }

    .products {
        width: 736px;
    }

    .featuredItems {
        width: 736px;
    }

    .featuredItemsPics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        column-gap: 0;
    }
}

@media(max-width: 767px) {

    .headerWrapper {
        width: 359px;
    }
    
    .profile{
        display: none;
    }
    
    .cart {
        display: none;
    }

    .hamburger {
        width: 32px;
        height: 23px;
        display: block;
    }

    .mainFoto {
        height: 363px;
    }

    .mainFotoDesktop {
        display: none;
    } 

    .namWra {
        padding-top: 148px;
        margin: 0 auto;
    }    

    .naming {
        width: 263px;
        height: 66px;
    }

    .productsGroup {
        display: grid;
        grid-template-rows: auto auto auto;
        margin-bottom: 30px;
    }

    .destoFoto {
        width: 343px;
        height: 248px;
    }
    
    .foto4 {
        display: none;
    }

    .accesoriesMobile {
        display: block;
    }

    .featuredItems {
        width: 359px;
    }

    .featuredItemsPics {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        column-gap: 0;
    }
}


