@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import 'variables';
@import 'globalStyles';

// * {
//     margin: 0;
//     padding: 0;
//     font-family: "Lato", Arial, sans-serif;
// }

.header {
    background-color: $backgroundColor;
    display: flex;
    justify-content: center;
    position: relative;

    &Wrapper {
        max-width: 1140px;
        height: 75px;
        display: flex;
        justify-content: center;
        gap: 859px;
        align-items: center;
    }

    .logoGroup {
        width: 111px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 33px;



        &__menu-open {
            position: absolute;
            z-index: 11;
            top: 75px;
            right: 0px;
            width: 168px;
            padding: 32px;
            background-color: #FFF;
            box-shadow: -5px 5px 15px rgba(34, 34, 34, 0.2);

            h3 {
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
            }

            .menuList {
                margin-top: 20px;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
            }

            .menuItem {
                list-style-type: none;
                padding-left: 22px;
                padding-top: 11px;

                & a {
                    text-decoration: none;
                    color: #6F6E6E;
                }
            }
        }

        &__menu summary {
            display: block;
        }

        &__menu summary::-webkit-details-marker {
            display: none;
        }
    }

    .menu {
        display: none;
        width: 100px;
        height: 100px;
        background-color: green;
    }

    .hamMenu:hover .menu {
        display: block;
        position: absolute;
    }
}

// .center {
//     // padding-left: calc(50% - 570px);
//     // padding-right: calc(50% - 570px);
//     padding-left: calc(50% - $contentWidth/2);
//     padding-right: calc(50% - $contentWidth/2);
// }

// .customColor {
//     color: $customColor;
// }

.mainFoto {
    background-color: $mainPhotoBackground;
    display: flex;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.naming {
    border-left: 12px solid $customColor;
    height: 93px;
    width: 405px;
    padding-left: 16px;
    margin-top: 290px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &Item900 {
        font-size: 48px;
        font-weight: 900;
    }

    &ItemColor {
        color: $customColor;
    }
}

.products {
    // width: 1140px;
    // margin: 0 auto;
    margin-top: 65px;
}

.productsGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    &Item {
        position: relative;
    }

    &Title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
        font-weight: 400;
        color: #FFF;
        text-align: center;
    }

    &Title .namingItemColor {
        font-size: 24px;
        font-weight: 700;
    }
}

.accesoriesMobile {
    display: none;
}

.featuredItems {
    width: 1140px;
    margin: 0 auto;
    margin-top: 96px;

    & h2 {
        text-align: center;
        font-size: 30px;
    }

    &Description {
        text-align: center;
        color: #9F9F9F;
        font-size: 14px;
    }

    &Pics {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        column-gap: 30px;
        row-gap: 25px;
        margin-top: 48px;
    }
}

.item {
    text-align: left;

    &Image {
        position: relative;
    }

    &Button {
        width: 139px;
        height: 44px;
        border: 1px solid #FFF;
        color: #FFF;
        text-align: center;
        vertical-align: middle;
        background-color: transparent;
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }

    &Button::before {
        content: url('img/itemCart.svg');
        display: inline-block;
        width: 26px;
        height: 24px;
        margin-right: 11px;
    }

    &Image:hover .itemButton {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &Hover {
        width: 360px;
        height: 420px;
        position: absolute;
        background-color: rgb(58, 56, 56, 0.86);
        z-index: 2;
        top: 0%;
        display: none;
    }

    &Image:hover &Hover {
        display: block;
    }

    h3 {
        font-size: 13px;
        font-weight: 400;
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 25px;
        color: #000;
    }

    p {
        padding-left: 16px;
        padding-right: 16px;
    }

    .itemDescription {
        text-align: left;
        color: #5D5D5D;
        font-size: 14px;
        font-weight: 300;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.browse {
    width: 210px;
    height: 46px;
    border: 2px solid #F16D7F;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

.browse a {
    text-decoration: none;
    color: #F16D7F;
}

.browse:hover {
    background-color: $customColor;
}

.browse:hover a {
    color: #FFF;
}

.service {
    background-color: #222;
    margin-top: 95px;

    &Wrapper {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    &Item {
        max-width: 360px;
        height: 134px;
        color: #FBFBFB;
        text-align: center;
        margin-top: 104px;
        margin-bottom: 104px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

.subscribe {
    background-image: url("img/subscribeBackground.png");
    background-repeat: no-repeat;
    background-size: cover;

    &Wrapper {
        width: 1140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 448px;
    }

    .review {
        width: 360px;
        height: 225px;
        text-align: center;

        & p {
            font-size: 20px;
            font-weight: 400;
            margin-top: 30px;
        }
    }

    &Form {
        width: 557px;
        height: 142px;
        text-align: center;

        .subscribeTitle {
            color: #222;
            font-size: 24px;
            font-weight: 700;
            line-height: 167.2%;
            /* 40.128px */
        }

        .subscribeSubtitle {
            color: #222;
            font-size: 18px;
            font-weight: 400;
            line-height: 167.2%;
        }

        .subscriptionForm {
            margin-top: 32px;
            position: relative;

            .email {
                width: 356px;
                height: 49px;
                background-color: #E1E1E1;
                padding-left: 20px;
                border: none;
                border-radius: 27px;
                font-size: 14px;
                font-weight: 400;
            }

            .submitButton {
                height: 49px;
                width: 100px;
                border: none;
                background-color: $customColor;
                border-top-right-radius: 27px;
                border-bottom-right-radius: 27px;
                color: #FFF;
                font-size: 14px;
                font-weight: 400;
                position: absolute;
                left: 365px;
            }
        }
    }
}

.footer {
    background-color: #222;
    color: #FBFBFB;

    &Wrapper {
        width: 1140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 79px;

        .socialMediaIcons {
            display: flex;
            width: 148px;
            justify-content: space-between;
        }
    }
}

.icon {
    width: 32px;
    height: 32px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: $customColor;

        .iconSvg path {
            fill: #FFF;
        }
    }
}

@media(min-width: 768px) and (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }

    .headerWrapper {
        justify-content: center;
        gap: 424px;
    }

    .mainFoto {
        &Desktop {
            width: 386px;
            height: 368px;
        }

        .naming {
            height: 93px;
            width: 311px;
            margin-top: 138px;
        }
    }

    .destoFoto {
        width: 233px;
        height: 169px;
    }

    .foto4 {
        width: 735px;
        height: 117px;
    }

    .products {
        width: 736px;
    }

    .featuredItems {
        width: 736px;
    }

    .featuredItemsPics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        column-gap: 0;
    }

    .service {

        &Wrapper {
            flex-direction: column;
            align-items: center;
            gap: 49px;
            padding-top: 49px;
            padding-bottom: 49px;
        }

        &Item {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    .subscribe {

        &Wrapper {
            flex-direction: column;
            min-height: 614px;
            width: 736px;
            justify-content: center;
            gap: 48px;
        }
    }

    .footer {
        &Wrapper {
            width: 736px;
        }
    }
}

@media(max-width: 767px) {
    .center {
        padding-left: calc(50% - 179px);
        padding-right: calc(50% - 179px);
    }

    .headerWrapper {
        width: 359px;
    }

    .profile {
        display: none;
    }

    .cart {
        display: none;
    }

    .hamburger {
        width: 32px;
        height: 23px;
        display: block;
    }

    .mainFoto {
        height: 363px;
    }

    .mainFotoDesktop {
        display: none;
    }

    .namWra {
        padding-top: 148px;
        margin: 0 auto;
    }

    .naming {
        width: 263px;
        height: 66px;
    }

    .products {
        width: 359px;
    }

    .productsGroup {
        display: grid;
        grid-template-rows: auto auto auto;
        margin-bottom: 30px;
    }

    .destoFoto {
        width: 343px;
        height: 248px;
    }

    .foto4 {
        display: none;
    }

    .accesoriesMobile {
        display: block;
    }

    .featuredItems {
        width: 359px;
    }

    .featuredItemsPics {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        column-gap: 0;
    }
}

// style Product

.breadCrumbsWrapper {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;
}

.breadCrumbsCurrent {
    color: $customColor;
}

.productSlider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $backgroundSlider;
}

// style Cart

.pageTitle {
    background-color: $mainPhotoBackground;
    height: 148px;

    &__wrapper {
        display: flex;
        align-items: center;
        height: 148px;

        .pageTitle__heading {
            font-size: 24px;
            font-weight: 400;
        }
    }
}

.cartContent {
    &__wrapper {
        width: 1140px;
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 96px;
    }

    &__item {
        display: flex;
        margin-bottom: 40px;
        width: 652px;
        box-shadow: 10px 10px 15px rgba(34, 34, 34, 0.2);
    }

    &__qualities {
        padding-top: 22px;
        padding-left: 31px;
    }

    &__qualities h3 {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 262px;
        margin-bottom: 42px;
    }

    &__qualities p {
        color: #575757;
        font-size: 22px;
        font-weight: 400;
    }
}